body {
  margin: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #00252e;
 }

.top-container {
  background-image: url(images/bg-hero-mobile.svg);
  background-color: #ebfbff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 580px;

}

.huddle-logo {
  position: absolute;
  left: 40px;
  top:40px;
  width: 12%;
  height: auto;

}
.main-image {
  height: 500px;
  width: 700px;
  position: absolute;
  bottom: 5px;
  right: 70px;

}

.h1 {
  width: 30%;
  text-align: left;
  position: absolute;
  bottom: 300px;
  margin-left: 85px;
  margin-right: 5px;
  margin-bottom: 30px;

}
.p1 {
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  color: #757575;
  width:30%;
  text-align: left;
  line-height: 1.5;
  position: absolute;
  bottom: 185px;
  margin-left: 85px;
  margin-right: 5px;

}
.Button-div {
  position: relative;
  bottom: 130px;
  left: 84px;
}
.Button {
	-moz-box-shadow: 7px 7px 13px -3px #91b8b3;
	-webkit-box-shadow: 7px 7px 13px -3px #91b8b3;
	box-shadow: 7px 7px 13px -3px #91b8b3;
	background-color:#f565bb;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 45px;
	text-decoration:none;
}
.Button:hover {
	background-color:#f587d8;
}
.Button:active {
	position:absolute;
}

.Button-Try {
  position: absolute;
  top: 30px;
  right: 50px;

}
.top-button {
	-moz-box-shadow: 7px 7px 13px -3px #91b8b3;
	-webkit-box-shadow: 7px 7px 13px -3px #91b8b3;
	box-shadow: 7px 7px 13px -3px #91b8b3;
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 45px;
	text-decoration:none;
}
.top-button:hover {
	background-color:#e5d0f5;
}
.top-button:active {
	position:absolute;
}

/*---------------------------------------------------------*/
.middle-container {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #e5e5e5;


}
.first-section {
  position: absolute;


}

.first-image {
  width: 25%;
  float: right;
}



.second-section{
  width: 25%;
  text-align: left;
  line-height: 1.5;
}
.h2 {
  font-family: "Poppins", sans-serif;
}

.p2 {
  font-family: 'Karla', sans-serif;
}
